<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Bookstore Test Suite">
            <directory>./src/tests/</directory>
            <exclude>./src/tests/Controllers/BookControllerTest.php</exclude>
            <exclude>./src/tests/Models/BookModelTest.php</exclude>
        </testsuite>
    </testsuites>

</phpunit>